<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My Chat App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="ChatHomePage">

        <!-- Styles -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        
         <!--Navigation Top Bar-->
         <ul class="topnav">
            <li> <img class="logo1" src="{{url_for('static', filename='csbs1.png')}}"  width="80" height="30"></li>
            <li><a href="#news">News</a></li>
        </ul>
    </head>

    <body class="topNavBody">
    <!--Collapsable Sidebar-->
    <div class="container">
        <div class="sidebar">
            <div class="sidebartop">
                <div class="logo">
                    <img src="/images/logo.png" alt="">
                </div>
                <div class="menu">
                    <i class="bi bi-list"></i>
                </div>
            </div>
            
            <nav>
                <ul>
                    <li><a href="{{ url_for('overview') }}"><i class="bi bi-compass"></i><span class="text">Overview</span></a></li>
                    <li><a href="#"><i class="bi bi-calendar"></i><span class="text">Calendar</span></a></li>
                    <li><a href="{{ url_for('myWork') }}"><i class="bi bi-list-check"></i><span class="text">My Work</span></a></li>
                    <li><a href="{{ url_for('chat') }}"><i class="bi bi-chat"></i><span class="text">Chat</span></a></li>
                    <li><a href="#"><i class="bi bi-gear"></i><span class="text">Settings</span></a></li>
                    <li><a href="{{url_for('logout')}}"><i class="bi bi-box-arrow-left"></i><span class="text">Logout</span></a></li>
                </ul>
                
            </nav>

            
              
            <div class="account">
                <div class="avatar">
                    <img src="/images/avatar.jpg" alt="">
                </div>
                <div class="name">
                    <h4>CSBS</h4>
                    Adminstrator
                </div>
                <div class="logout">
                    <a href="#"><i class="bi bi-box-arrow-left"></i></a>
                </div>
                
            </div>
        </div>
       
       
    </div>
    <div class="chatroom">
        <h1 class="mychat">Welcome to Chat room {{room}}</h1>
        <div id="messages"></div>
        <form id="message_input_form">
            <input type="text" id="message_input" placeholder="Enter your message here">
            <button type="submit">Send</button>
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.0/socket.io.js"></script>
        <script scr="http://127.0.0.1:5000/socket.io/socket.io.js"></script>
        <script>
            const socket = io("http://127.0.0.1:5000");
            socket.on('connect', function (){
                socket.emit('join_room', {
                    username: "{{username}}" ,
                    room: "{{room}}"
                });

                let message_input = document.getElementById('message_input');
                document.getElementById('message_input_form').onsubmit = function (e){
                    e.preventDefault();
                    let message = message_input.value.trim();
                    if(message.length){
                       socket.emit('send_message',{
                           username: "{{username}}" ,
                           room: "{{room}}",
                           message:message
                       })
                    }
                    message_input.value = '';
                    message_input.focus();
                }
            
            });

        socket.on ('receive_message', function (data){
            console.log(data);
            const newNode = document.createElement('div');
            duser=data.username;
            newNode.innerHTML = ( duser.bold() +" "+ data.message);
            document.getElementById('messages').appendChild(newNode);
        });
        socket.on('join_room_announcement', function (data) {
            console.log(data);
            const newNode = document.createElement('div');
            duser=data.username;
            newNode.innerHTML = ( duser.bold() +" has joined the room");
            document.getElementById('messages').appendChild(newNode);
        })
    
        </script>
        <script src="{{url_for('static', filename='init.js')}}"></script>
    </div>
    </body>
    </html>