<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Create New Project">
        <title>Add Project</title>

        <!-- Styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='test.css') }}">
    </head>

    <body>
        <nav>
            <a href="{{ url_for('index') }}">Home</a> ||
            <a href="{{ url_for('projects_list') }}">Projects</a> ||
            <a href="{{ url_for('create_project') }}">Add Project</a> ||
        </nav>

        <!--Page Content -->
        <div class="main">
            <h1>Create Project</h1>

            <form action="create-project" method="post">
                <p><label>Title:</label><input type="text" name="title"/></p>
                <br>
                <p><input type="submit" value="Add Project"></p>
            </form>

        </div>

        <script src="{{ url_for('static', filename='init.js') }}"></script>
    </body>

</html>