<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>UNCC Notes App</title>
        <!-- styles -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        
         <!--Navigation Top Bar-->
         <ul class="topnav">
            <li><a class="active" href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
        </ul>
    </head>
    <body>  
      
    <!--SiDe bar collapsable side bar-->
    <div class="container">
      <div class="sidebar">
          <div class="sidebartop">
              <div class="logo">
                  <img src="/images/logo.png" alt="">
              </div>
              <div class="menu">
                  <i class="bi bi-list"></i>
              </div>
          </div>
          <!--Project and Chat Tab-->
          <div class="tab">
              <button class="tablinks" onclick="openCity(event, 'Project')">Projects</button>
              <button class="tablinks" onclick="openCity(event, 'Chat')">Chat</button>
              
            
            <div id="Project" class="tabcontent">
              <h3>General?</h3>
              <p>ICons of the projects worked on and the name </p>
            </div>
            
            <div id="Chat" class="tabcontent">
              <h3>Chats</h3>
              <p>icon of user and an + sign</p> 
            </div>


            <nav>
              <ul>
                  <li><a href="{{ url_for('index') }}"><i class="bi bi-compass"></i><span class="text">Overview</span></a></li>
                  <li><a href="#"><i class="bi bi-calendar"></i><span class="text">Calendar</span></a></li>
                  <li><a href="{{ url_for('myWork') }}"><i class="bi bi-list-check"></i><span class="text">My Work</span></a></li>
                  <li><a href="#"><i class="bi bi-people"></i><span class="text">Users</span></a></li>
                  <li><a href="#"><i class="bi bi-gear"></i><span class="text">Settings</span></a></li>
             
              </ul>
              
          </nav>
            
            
              
          <div class="account">
            <div class="avatar">
                <img src="/images/avatar.jpg" alt="">
            </div>
            <div class="name">
                <h4>CSBS</h4>
                Adminstrator
            </div>
            <div class="logout">
                <a href="#"><i class="bi bi-box-arrow-left"></i></a>
            </div>
                
            </div>
        </div>
      
       
    </div>
     <!--Page Content Here-->

    <main>
      
      <!-- Some of these content are taken from the CCI Website-->

      <nav>
      <a href="{{ url_for('get_notes') }}"> <h2>View My Notes</h2></a> ||
      <a href="{{ url_for('new_note') }}"><h2>Add Notes</h2></a> 
      </nav>
      
      <p>The CSBS is committed to being the recognized leader for competitive, innovative, and market-responsive computing and informatics education in the form of creating notes.
        Through this commitment, CSBS develops focused, trend-setting research excellence with national and international recognition,
        and is recognized as the industry leader for partnerships and project collaborations.</p>
          <!-- Tabs HTML code -->
          
                  
              
          Undergraduate Studies
          </h3>
             
             <p>The College of Computing and Informatics (CCI) offers a B.S. and a B.A. in Computer Science (CS)
    <p>Computer science students at CCI have the opportunity to engage in research,
                    get involved in student organizations and collaborate on interdisciplinary teams
                    in addition to learning about entrepreneurship and starting companies while
                    competing in computing contests, networking with corporate recruiters and
                    interning at top companies. Students graduate with the skills and knowledge
                    to pursue rewarding careers or continue their studies in graduate school.</p>							as well as opportunities to earn a CS Minor or an undergraduate certificate in Game Design.
                    <p>In addition, the College offers an Honors program and an Early Entry program.</p>
          </div>
      <h3>
                  
              
          Master's Program
          </h3>	
              <div>
                  <p>With Master's programs in <strong>Computer Science, Cybersecurity, Information Technology, Bioinformatics, Architecture/Computer Science,
                    Architecture/Information Technology, Data Science/Business Analytics and Health Informatics </strong>,
                    CCI offers one of the fastest-growing and most diverse graduate programs in the country.</p>
          <p>In addition to receiving a top-notch, nationally-ranked technical education, CCI students develop the kind of business savvy,
             entrepreneurial spirit and communication skills necessary for success in the workplace.
             Our students are regularly targeted for Fortune 500 employment opportunities,
             many of which begin as internships and mentoring relationships established in our Business Partners program.</p>
<p> &nbsp;
             
</p>
           <h2><p><b>Recent Personal Tasks</b></p></h2>
             <p><section class="todo-list">
              <h3>TODO LIST</h3>
              <p><a href="{{ url_for('taskList') }}">Check out this cool taskList!</a></p>
              <div class="list" id="todo-list"></div>
            </section></p>
                  

    </main>



     

     
    <script src="{{url_for('static', filename='init.js')}}"></script>
    
  </body>



</html>