<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="My Work">
    <title>CSBS|MY WORK</title>
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='csbs2.jpg') }}">
    <!-- styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <!--Navigation Top Bar-->
    <ul class="topnav">
        <li> <img class="logo1" src="{{url_for('static', filename='csbs1.png')}}"  width="80" height="30"></li>
        <li><a href="#news">News</a></li>
    </ul>
</head>

<body class="topNavBody">

<!--Sidebar - collapsable sidebar-->
<div class="container">
    <div class="sidebar">
        <div class="sidebartop">
           
            <div class="menu">
                <i class="bi bi-list"></i>
            </div>
        </div>
        

        <nav>
            <ul>
                <li><a href="{{ url_for('overview') }}"><i class="bi bi-compass"></i><span
                            class="text">Overview</span></a></li>
                <li><a href="{{ url_for('calendars') }}"><i class="bi bi-calendar"></i><span class="text">Calendar</span></a></li>
                <li><a href="{{ url_for('myWork') }}"><i class="bi bi-list-check"></i><span class="text">My
                            Work</span></a></li>
                <li><a href="{{ url_for('chat') }}"><i class="bi bi-chat"></i><span class="text">Chat</span></a>
                </li>
                <li><a href="#"><i class="bi bi-gear"></i><span class="text">Settings</span></a></li>
                <li><a href="{{url_for('logout')}}"><i class="bi bi-box-arrow-left"></i><span
                            class="text">Logout</span></a></li>
            </ul>

        </nav>

        
          
        <div class="account">
            
            <div class="name">
                <h4>CSBS</h4>
                
            </div>
        </div>
    </div>

    </div>
</div>
<!--Nav Bar My work -->
<div class="navbar1">

    <!-- Navbar logo -->
    <div class="nav-header">

        <div class="nav-logo">
            <img src="https://media.istockphoto.com/photos/hot-air-balloons-flying-over-the-botan-canyon-in-turkey-picture-id1297349747?b=1&k=20&m=1297349747&s=170667a&w=0&h=oH31fJty_4xWl_JQ4OIQWZKP8C6ji9Mz7L4XmEnbqRU=" width="50px" border-radius="15px" alt="logo">
            <h2 class="title">My Work</h2>
        </div>

    </div>


    <!-- Navbar items -->
    <div class="nav-links">
        <a href="#">Task</a>
        <a href="{{ url_for('calendar') }}">Calendar</a>
        <a href="{{ url_for('taskList') }}">To-Do List</a>
        <a href="{{ url_for('get_notes') }}">Notes</a>
    </div>
</div>

<!--Page Content Here-->
<div class="main">

    <h1>Welcome to the 49er Notes App!</h1>

    <h2>Use this site to maintain and organize your notes.</h2>

    <h3>Course notes</h3>

    <h3>To Do</h3>

    <h3>Work note1s</h3>
</div>
<script src="{{ url_for('static', filename='init.js') }}"></script>
</body>
</html>