<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>UNCC Notes App - View your Note</title>
        <!-- styles -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

        <!--Javascript for sidebar-->
        <script src="{{url_for('static', filename='init.js')}}"></script>
    </head>

    <ul class="topnav">
        <li><a class="active" href="{{ url_for('overview') }}">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
    </ul>
    <body class="topNavBody">
                   <!--SiDe bar collapsable side bar-->
    <div class="container">
        <div class="sidebar">
            <div class="sidebartop">
                <div class="logo">
                    <img src="/images/logo.png" alt="">
                </div>
                <div class="menu">
                    <i class="bi bi-list"></i>
                </div>
            </div>
            
            
  
  
              <nav>
                <ul>
                    <li><a href="{{ url_for('overview') }}"><i class="bi bi-compass"></i><span class="text">Overview</span></a></li>
                    <li><a href="#"><i class="bi bi-calendar"></i><span class="text">Calendar</span></a></li>
                    <li><a href="{{ url_for('myWork') }}"><i class="bi bi-list-check"></i><span class="text">My Work</span></a></li>
                    <li><a href="{{ url_for('chat') }}"><i class="bi bi-chat"></i><span class="text">Chat</span></a></li>
                    <li><a href="#"><i class="bi bi-gear"></i><span class="text">Settings</span></a></li>
                    <li><a href="{{url_for('logout')}}"><i class="bi bi-box-arrow-left"></i><span class="text">Logout</span></a></li>
                </ul>
                
            </nav>

            
              
            <div class="account">
                
                <div class="name">
                    <h4>CSBS</h4>
                    
                </div>
            </div>
        </div>
      
       
    </div>


        


        <main>
            <div class="center">
            <nav>
            
            <a href="{{ url_for('get_notes') }}"> My Notes</a> ||
            <a href="{{ url_for('new_note') }}">Add Note</a> 
            
        </nav>
        <h1 class="centerText">Welcome to the CSBS Notes Application!</h1>
        <h1 class="centerText">Add a Comment</h1>

        <table>
            <tr>
                <th class="centerText">Title</th>
                <th class="centerText">Text</th>
                <th class="centerText">Date</th>
            </tr>
            <tr>
                <td>{{ note.title }}</td>
                <td>{{ note.text }}</td>
                <td>{{ note.date }}</td>
            </tr>
        </table>
 {% if note.comments %}
    {% if note.comments|length > 0 %}
        <h2>Comments</h2>
        <ul>
        {% for comment in note.comments %}
            <li>{{ comment.content }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endif %}
    <form action="{{ url_for('new_comment', note_id=note.id) }}" method="post">
        <div class="formwrapper">
         <br>
         
         <br>
            <div class="form-field">
                 {{ form.comment.label }} <br/> {{ form.comment }}
        </div>
    {{ form.submit }}
  </div>
</form>
            </div>
    </main>
    </body>
</html>