<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Overview of All Projects/Tasks/To-Dos">
        <title>CSBS|OVERVIEW</title>
        <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='csbs2.jpg') }}">

        <!-- Styles -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">

        <!-- Top Navigation Bar -->
        <!-- TEMPORARY NAV LINKS: Most links are for easy navigation while testing -Rachel -->
        <ul class="topnav">
            <li><img class="logo1" src="{{url_for('static', filename='csbs1.png')}}"  width="110" height="30"></li>
            <li><a class="active" href="{{ url_for('overview') }}">Overview</a></li>
            <li><a href="{{ url_for('projects_list') }}">Projects</a></li>
            <li><a href="{{ url_for('create_project') }}">Add Project</a></li>
        </ul>
    </head>

    <body class="topNavBody">
        <!-- Collapsable Sidebar -->
        <div class="container">
            <div class="sidebar">
                <div class="sidebartop">
                    <div class="logo">
                        <img src="/images/logo.png" alt="">
                    </div>
                    <div class="menu">
                        <i class="bi bi-list"></i>
                    </div>
                </div>

                <nav>
                    <ul>
                        <li><a href="{{ url_for('overview') }}"><i class="bi bi-compass"></i><span class="text">Overview</span></a></li>
                        <li><a href="{{ url_for('calendars') }}"><i class="bi bi-calendar"></i><span class="text">Calendar</span></a></li>
                        <li><a href="{{ url_for('myWork') }}"><i class="bi bi-list-check"></i><span class="text">My Work</span></a></li>
                        <li><a href="{{ url_for('chat') }}"><i class="bi bi-chat"></i><span class="text">Chat</span></a></li>
                        <li><a href="#"><i class="bi bi-gear"></i><span class="text">Settings</span></a></li>
                        <li><a href="{{ url_for('logout') }}"><i class="bi bi-box-arrow-left"></i><span class="text">Logout</span></a></li>
                    </ul>
                </nav>

                <div class="account">
                    <div class="name">
                        <h4>CSBS</h4>
                    </div>
                </div>
            </div>

       <!--Search Bar Section-->
        <!-- input tag -->
        <input id="searchbar" onkeyup="search_animal()" type="text" name="search" placeholder="Searchbar..">

        <!-- ordered list -->

        <ol class="centerText">

          <a href="{{ url_for('get_notes') }}" class="animals"><b>Bring me to my notes</b></a>
          <a href="{{ url_for('get_notes') }}" class="animals"><b>Display my notes</b></a>
          <a href="{{ url_for('calendar') }}" class="animals"><b>Show me my Calendar</b></a>
          <a href="{{ url_for('calendar') }}" class="animals"><b>Find me what I need to do for the next couple weeks</b></a>
          <a href="{{ url_for('taskList') }}" class="animals"><b>Show me a List of My Tasks</b></a>
          <a href="{{ url_for('chat') }}" class="animals"><b>Bring me to the chatroom</b></a>
          <a href="{{ url_for('new_note') }}" class="animals"><b>Create a New Note</b></a>
          <a href="{{ url_for('myWork') }}" class="animals"><b>Show Me My Work</b></a>
          <a href="{{ url_for('projects_list') }" class="animals"><b>Show Me My projects</b></a>
          <a href="{{ url_for('chat') }}" class="animals"><b>Send a Direct Message</b></a>


        </ol>


        </div>

        <!-- Page Content -->
        <div class="main">

            <h1>OVERVIEW</h1>
            <br>

            <!-- Search Bar -->
            <div>
                <input id="searchbar"  onkeyup="search_animal()" type="text" name="search" placeholder="Search">
                <button type="button" class="showResults" onclick="hideResults()" id="click">ShowResults</button>

               
                <ol class="centerText">
                    <a href="{{ url_for('get_notes') }}" class="animals"><b>Bring me to my notes</b></a>
                    <a href="{{ url_for('get_notes') }}" class="animals"><b>Display my notes</b></a>
                    <a href="{{ url_for('get_notes') }}" class="animals"><b>Show me my Calendar</b></a>
                    <a href="{{ url_for('get_notes') }}" class="animals"><b>Find me what I need to do for the next couple weeks</b></a>
                    <a href="{{ url_for('taskList') }}" class="animals"><b>Show me a List of My Tasks</b></a>
                    <a href="{{ url_for('chat') }}" class="animals"><b>Bring me to the chatroom</b></a>
                    <a href="{{ url_for('new_note') }}" class="animals"><b>Create a New Note</b></a>
                    <a href="{{ url_for('myWork') }}" class="animals"><b>Show Me My Work</b></a>
                    <a href="{{ url_for('get_notes') }}" class="animals"><b>Show Me My projects</b></a>
                    <a href="{{ url_for('chat') }}" class="animals"><b>Send a Direct Message</b></a>
                </ol>
             
            </div>

            <br>
            <br>
            <br>

            <div>
                <h3>
                    <strong>--Recent--</strong>
                </h3>

                <div>
                    <p>List of Recently Viewed/Shared/Edited Projects:<br>
                        Project 1<br>
                        Project 2<br>
                        Project 3<br>
                    </p>
                </div>
                <br>
                <br>

                <h3>
                    <a href="{{ url_for('projects_list') }}"><strong>--Projects--</strong></a>
                </h3>

                <div>
                    <p>
                        <a href="{{ url_for('create_project')}}">[Add Project]</a>
                    </p>
                    <br>
                    <p>List of Projects Here:<br>
                        Project 1<br>
                        Project 2<br>
                        Project 3<br>
                    </p>
                </div>
                <br>
                <br>

                <h3>
                    <strong>--Tasks--</strong>
                </h3>

                <div>
                    <p>[__] Add Task Button</p>
                    <br>
                    <p>List of Tasks Here:<br>
                        Task 1<br>
                        Task 2<br>
                        Task 3<br>
                    </p>
                </div>
                <br>
                <br>
            </div>
        </div>

    <!-- !!! POTENTIALLY NOT USING FOOTER !!! -->
    <!--
        <footer class="footer">
            <div class="container">
                <p class="text-muted"><small>App developed by CSBS</small></p>
            </div>
        </footer>
    -->
    </body>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script/modal.js') }}"></script>
    <script src="{{ url_for('static', filename='init.js') }}"></script>

</html>