<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Project Overview">
    <title>CSBS|PROJECT OVERVIEW</title>
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='csbs2.jpg') }}">

    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">

    <!-- Top Navigation Bar -->
    <!-- TEMPORARY NAV LINKS: Most links are for easy navigation while testing -Rachel -->
    <ul class="topnav">
        <li><img class="logo1" src="{{url_for('static', filename='csbs1.png')}}" width="110" height="30"></li>
        <li><a href="{{ url_for('overview') }}">Overview</a></li>

    </ul>
</head>

<body class="topNavBody">
    <!-- Collapsable Sidebar -->
    <div class="container">
        <div class="sidebar">
            <div class="sidebartop">
                <div class="logo">
                    <img src="/images/logo.png" alt="">
                </div>
                <div class="menu">
                    <i class="bi bi-list"></i>
                </div>
            </div>

            <nav>
                <ul>
                    <li><a href="{{ url_for('overview') }}"><i class="bi bi-compass"></i><span
                                class="text">Overview</span></a></li>
                    <li><a href="{{ url_for('calendars') }}"><i class="bi bi-calendar"></i><span
                                class="text">Calendar</span></a></li>
                    <li><a href="{{ url_for('myWork') }}"><i class="bi bi-list-check"></i><span class="text">My
                                Work</span></a></li>
                    <li><a href="{{ url_for('chat') }}"><i class="bi bi-chat"></i><span class="text">Chat</span></a>
                    </li>
                    <li><a href="{{url_for('logout')}}"><i class="bi bi-box-arrow-left"></i><span
                                class="text">Logout</span></a></li>
                </ul>
                <img src="static/moon.png" id="icon">
            </nav>

            <div class="account">
                <div class="name">
                    <h4>CSBS</h4>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="page">
        <br>

        <h1 class="notehome4">Project Name: {{ project.title }}</h1>


        <!-- <form onsubmit="return updateProgressBar(progress)">
            <label class="progress_label" for="total">Total # of Tasks</label>
            <input type="number" id="total" onclick="updateProgressBar(progress)" min="0" max="50">

            <label class=".progress_label" for="completed"># of Tasks Completed</label>
            <input type="number" id="completed" onclick="updateProgressBar(progress)" min="0" max="50">
            <input type="submit">
        </form> -->

        <!--Progress Bar-->
        <!-- <div class="progress">
            <div class="progress__fill"></div>
            <span class="progress__text">50%</span>
        </div> -->

        <div class="notehome3">

            <form action="{{ url_for('add_task', project_id=project.id) }}">
                <button class="green-button-left" type="submit">Add Task</button>
            </form>

            <br>
            <h2 class="mychat1"> Tasks </h2>
            <table class="center1">
                <tr class="noteTitle2">
                    <th> Title </th>
                    <th> Description </th>
                    <th> Date Created </th>
                </tr>

                {% for task in tasks %}
                <tr>
                    <td class="notesdata">{{ task.title }}</td>
                    <td class="notesdata">{{ task.description }}</td>
                    <td class="notesdata">{{ task.created }}</td>
                    <td>
                        <form action="{{ url_for('update_task', project_id=task.project_id, task_id=task.id) }}">
                            <button class="green-button-center" type="submit">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form action="{{ url_for('delete_task', project_id=task.project_id, task_id=task.id) }}"
                            method="post">
                            <button class="red-button" type="submit">Delete</button>
                        </form>
                    </td>
{#                    <td>#}
{#                        <form action="{{ url_for('task_done', project_id=task.project_id, task_id=task.id) }}"#}
{#                            method="post">#}
{#                            <button class="yellow-button" id="change" type="submit">Mark</button>#}
{#                        </form>#}
{#                    </td>#}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</body>

<script>
    var icon = document.getElementById("icon");

    icon.onclick = function () {
        document.body.classList.toggle("dark-mode");
        if (document.body.classList.contains("dark-mode")) {
            icon.src = "static/sun.png";
        } else {
            icon.src = "static/moon.png";
        }
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='script/modal.js') }}"></script>
<script src="{{ url_for('static', filename='init.js') }}"></script>

</html>