<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='homestyle.css') }}">
    

     
</head>
    <body>
        <div class="full-page">
            <div class="navbar">
                <div>
                    <a>CSBS</a>
                </div>
                <nav>
                    <ul id='MenuItems'>
                        <li><a href='#'>Home</a></li>
                        <li><a href='#'>About Us</a></li>
                        {% if user %}<li><a href='#'>Services</a></li>
                        {% else %}<li><a href="{{url_for('login')}}">Login</a></li>
                                  <li><a href="{{url_for('register')}}">Register</a></li>
                        {% endif %}<li><a href="{{url_for('logout')}}">Logout</a></li>
                    </ul>
                </nav>
            </div>
        

        <h1 class="welcome1">Welcome {% if user %}{{user}}{% endif %}to the CSBS Notes App!</h1>
        <h3>{{ message }}</h3>
        
         <div class="formwrapper">
            <h2 class="title">Register</h2>
            <form method="POST" action="/register">
                <div class="form-field">{{ form.firstname.label }} {{ form.firstname }}
                    {% if form.firstname.errors %}
                    <ul class="errors">
                        {% for error in form.firstname.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field">{{ form.lastname.label }} {{ form.lastname }}
                    {% if form.lastname.errors %}
                    <ul class="errors">
                        {% for error in form.lastname.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field">{{ form.email.label }} {{ form.email }}
                    {% if form.email.errors %}
                    <ul class="errors">
                        {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field">{{ form.password.label }} {{ form.password }}
                    {% if form.password.errors %}
                    <ul class="errors">
                        {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field">{{ form.confirmPassword.label }} {{ form.confirmPassword }}
                    {% if form.confirmPassword.errors %}
                    <ul class="errors">
                        {% for error in form.confirmPassword.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {{ form.submit }}
            </form>

        </div>
    </body>
</html>