@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  color: #333;
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.container {
  display: flex;
  flex-flow: row wrap;
}
.container .sidebar {
  background-color: #333;
  color: #fff;
  width: 30%;
  height: 100%;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.1s ease-in-out;
}
.container .sidebar a {
  color: #fff;
  text-decoration: none;
}
.container .sidebar .sidebartop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1rem;
  height: 55px;
}
.container .sidebar .sidebartop .logo {
  width: 70%;
}
.container .sidebar .sidebartop .logo img {
  height: auto;
  width: 100%;
}
.container .sidebar .sidebartop .menu {
  width: 20%;
  text-align: end;
}
.container .sidebar .sidebartop .menu i {
  cursor: pointer;
  font-size: 1.75rem;
}
.container .sidebar .sidebartop .logo-mobile {
  display: none;
}
.container .sidebar .search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  margin: 1rem 0;
}
.container .sidebar .search button {
  cursor: pointer;
  width: auto;
  background-color: transparent;
  border: 0;
  color: #fff;
  position: absolute;
  font-size: 1.25rem;
  left: 1.5rem;
  top: 50%;
  transform: translate(-50%, -50%);
}
.container .sidebar .search input {
  background-color: #404040;
  border: 0px;
  padding: 1rem;
  border-radius: 0.5rem;
  width: calc(100% + 1rem);
}
.container .sidebar .search input::-moz-placeholder {
  padding-left: 1.5rem;
}
.container .sidebar .search input:-ms-input-placeholder {
  padding-left: 1.5rem;
}
.container .sidebar .search input::placeholder {
  padding-left: 1.5rem;
}
.container .sidebar nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.container .sidebar nav ul li {
  display: block;
  align-items: center;
  padding: 1.25rem 0;
  position: relative;
  background-color: transparent;
  transition: background-color 0.25s ease-in-out;
}
.container .sidebar nav ul li a {
  display: block;
}
.container .sidebar nav ul li a i {
  font-size: 1.25rem;
}
.container .sidebar nav ul li a .text {
  position: relative;
  left: 1rem;
  top: -0.2rem;
}
.container .sidebar .account {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: calc(100% - 2rem);
  position: absolute;
  bottom: 1rem;
}
.container .sidebar .account .avatar {
  margin-right: 1rem;
  width: 20%;
}
.container .sidebar .account .avatar img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.container .sidebar .account .name {
  flex: 1 1 auto;
}
.container .sidebar .account .name h4 {
  padding: 0;
  margin: 0;
}
.container .sidebar .account .logout {
  flex: 1 1 auto;
  text-align: end;
}
.container .sidebar .account .logout i {
  font-size: 1.5rem;
}
.container .main {
  margin-left: calc(30% + 2rem);
  padding: 1rem;
}/*# sourceMappingURL=style.css.map */