body {
    padding: 30px 30px;
    overflow: scroll;
}

h1 .welcome {
    color: green;
}

h2.welcome {
    color: gold;
    background: green;
}

/* /// TOP NAVIGATION BAR /// */
.topnav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: rgb(71, 70, 70);
}
.topnav2 {
    list-style-type: none;
    position:fixed;
    z-index: 100;
  
  
    overflow: hidden;
    background-color: rgb(71, 70, 70);
    width: 100%;
    margin-bottom: 70.5%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #504e4e;
    color: white;
}

/* /// SIDE NAVIGATION BAR /// */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.topNavBody {
    color: #333;
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 100vh;
    overflow: auto;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;

}

.topNavBody1 {
    background-image: linear-gradient(rgba(201, 200, 200, 0.304), rgba(133, 133, 133, 0.9)), url(grayBackground.jpg);
    height: auto;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    overflow: visible;

    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    overflow: visible;

}
.topNavBody3 {

    color: #333;
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 100vh;
    overflow: auto;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    padding-top: 15%;

}

.container {
    display: flex;
    flex-flow: row wrap;
}

.container .sidebar {
    background-color: #333;
    color: #fff;
    width: 10%;
    height: 93.0%;
    padding: 0 1rem;
    position: fixed;
    top: 10;
    bottom: 0;
    left: 0;
    transition: width 0.1s ease-in-out;
}

.container .sidebar a {
    color: #fff;
    text-decoration: none;
}

.container .sidebar .sidebartop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1rem;
    height: 70px;
}

.container .sidebar .sidebartop .logo {
    width: 20%;
}

.container .sidebar .sidebartop .logo img {
    height: auto;
    width: 100%;
}

.container .sidebar .sidebartop .menu {
    width: 100%;
    text-align: end;
}

.container .sidebar .sidebartop .menu i {
    cursor: pointer;
    font-size: 1.75rem;
}

.container .sidebar .sidebartop .logo-mobile {
    display: none;
}

.container .sidebar .search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    margin: 1rem 0;
}

.container .sidebar button {
    cursor: pointer;
    width: auto;
    background-color: transparent;
    border: 0;
    color: #fff;
    position: fixed;
    font-size: 1.25rem;
    left: 1.5rem;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container .sidebar input {
    background-color: #404040;
    border: 0px;
    padding: 1rem;
    border-radius: 0.5rem;
    width: calc(100% + 2rem);
}

.container .sidebar input::-moz-placeholder {
    padding-left: 1.5rem;
}

.container .sidebar input:-ms-input-placeholder {
    padding-left: 1.5rem;
}

.container .sidebar input::placeholder {
    padding-left: 1.5rem;
}

.container .sidebar nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container .sidebar nav ul li {
    display: block;
    align-items: center;
    padding: 1.25rem 0;
    position: relative;
    background-color: transparent;
    transition: background-color 0.25s ease-in-out;
}

.container .sidebar nav ul li a {
    display: block;
}

.container .sidebar nav ul li a i {
    font-size: 1.25rem;
}

.container .sidebar nav ul li a .text {
    position: relative;
    left: 1rem;
    top: -0.2rem;
}

.container .sidebar .account {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: calc(100% - 2rem);
    position: absolute;
    bottom: 1rem;
}

.container .sidebar .account .avatar {
    margin-right: 1rem;
    width: 20%;
}

.container .sidebar .account .avatar img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.container .sidebar .account .name {
    flex: 1 1 auto;
}

.container .sidebar .account .name h4 {
    padding: 0;
    margin: 0;
}

.container .sidebar .account .logout {
    flex: 1 1 auto;
    text-align: end;
}

.container .sidebar .account .logout i {
    font-size: 1.5rem;
}

.container .main {
    border: 3px solid green;
    position: relative;
    width: 100%;
    padding: 10px;
}

/* /// COLLAPSED NAVIGATION BAR /// */
.short .sidebar {
    width: 5%;
    text-align: center;
}

.short .sidebar .logo,
.short .sidebar .searchInput,
.short .sidebar .text,
.short .sidebar .avatar,
.short .sidebar .name {
    display: none;
}

.short .sidebar .sidebartop {
    display: block;
    height: 75px;
}

.short .sidebar .sidebartop .logo-mobile {
    display: none;
}

.short .sidebar .sidebartop .menu {
    width: 150%;
    text-align: center;
}

.short .sidebar .text.hover {
    display: block !important;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    padding: 0.5rem;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 3rem;
    top: 1rem;
    border-radius: 0.25rem;
}

.short .sidebar .account {
    display: block;
}

.short .sidebar .account .logout {
    width: 100%;
    text-align: center;
}

.short .sidebar .search {
    margin: 1.75rem -0.2rem;
}


.main {
    border: 3px solid green;
    float: center;
    position: fixed;
    width: 50%;
    height: 200px;
    margin-left: 400px;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
}

.logo1 {
    margin-top: 8px;

}

.todo {
    width: 50%;
    margin-top: 10%;
    margin-left: 30%;
    overflow: auto;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 30px 12px;
    border: none;
    border-top: none;
}


/* Style the tab */
.tab {
    overflow: hidden;
    border-radius: 7px;
    border: none;
    background-color: none;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border-radius: 7px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    transition: 0.3s;
    font-size: 13px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

button {
    border: 3px solid #ddd
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 30px 12px;
    border: none;
    border-top: none;
}

/*MY WORK PAGE STYLING CSS*/
/*Header for Nav Bar*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(background-img.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    height: 50px;
    width: 100%;
    padding: 10px 40px;
    background-color: #dddd;
    border-bottom: solid 1px #000000;

}


.nav-logo {
    margin-left: 10%;
}

.navbar .nav-header {
    display: inline;
}

.navbar .nav-header .nav-logo {
    display: inline-block;
    margin-top: -7px;
}

.navbar .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.navbar .nav-links {
    display: inline-block;
    padding: 5px 15px;
    margin-left: 20px;
    font-size: 17px;
    color: rgb(9, 14, 90);
}

.navbar .nav-links a {
    padding: 10px 12px;
    text-decoration: none;
    font-weight: 550;
    color: green;
}

/* Hover effects */
.navbar .nav-links a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/* responsive navbar toggle button */
.navbar #nav-check,
.navbar .nav-btn {
    display: none;
}

.active {
    background-color: #04AA6D;
    color: white;
}

@media (max-width: 100px) {
    .navbar .nav-btn {
        display: inline-block;
        position: absolute;
        top: 0px;
        right: 0px;
    }


    .navbar .nav-btn label {
        display: inline-block;
        width: 80px;
        height: 70px;
        padding: 25px;
    }

    .navbar .nav-btn label span {
        display: block;
        height: 10px;
        width: 25px;
        border-top: 3px solid #eee;
    }

    .navbar .nav-btn label:hover,
    .navbar {
        background-color: rgb(9, 14, 90);
        transition: all 0.5s ease;
    }

    .navbar .nav-links {
        position: absolute;
        display: block;
        text-align: center;
        width: 50%;
        background-color: rgb(9, 14, 90);
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 70px;
        right: 0px;
    }

    .navbar .nav-links a {
        display: block;
    }

    /* when nav toggle button not checked */
    .navbar .nav-links {
        height: 0px;
    }

    /* when nav toggle button is checked */
    .navbar .nav-links {
        height: calc(100vh - 70px);
        overflow-y: auto;
    }

    .navbar .nav-links {
        padding: 10px 40px;
        margin: 20px;
        font-size: 18px;
        font-weight: bold;
        color: white;
    }

    /* Responsive dropdown code */
    .navbar .nav-links .navbar {
        float: none;
        width: 100%;
    }

    .navbar .nav-links .navbar {
        position: relative;
        background-color: rgb(220, 220, 250);
        top: 0px;
        left: 0px;
    }

    /* Text color */
    .navbar .nav-links .drop-content a {
        color: rgb(9, 14, 90);
    }


}
/*navbar1 for personal calendar*/
.navbar1 {
    height: 50px;
    width: 90%;
    padding: 10px 40px;
    background-color: #dddd;
    border-bottom: solid 1px #000000;
    margin-bottom: 64%;
    position: fixed;
    margin-left: 10%;
    z-index: 100;
}




.nav-logo {
    margin-left: 10%;
}

.navbar1 .nav-header {
    display: inline;
}

.navbar1 .nav-header .nav-logo {
    display: inline-block;
    margin-top: -7px;
}

.navbar1 .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.navbar1 .nav-links {
    display: inline-block;
    padding: 5px 15px;
    margin-left: 20px;
    font-size: 17px;
    color: rgb(9, 14, 90);
}

.navbar1 .nav-links a {
    padding: 10px 12px;
    text-decoration: none;
    font-weight: 550;
    color: green;
}

/* Hover effects */
.navbar1 .nav-links a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/* responsive navbar toggle button */
.navbar1 #nav-check,
.navbar1 .nav-btn {
    display: none;
}

.active {
    background-color: #04AA6D;
    color: white;
}

@media (max-width: 100px) {
    .navbar1 .nav-btn {
        display: inline-block;
        position: absolute;
        top: 0px;
        right: 0px;
    }


    .navbar1 .nav-btn label {
        display: inline-block;
        width: 80px;
        height: 70px;
        padding: 25px;
    }

    .navbar1 .nav-btn label span {
        display: block;
        height: 10px;
        width: 25px;
        border-top: 3px solid #eee;
    }

    .navbar1 .nav-btn label:hover,
    .navbar1 {
        background-color: rgb(9, 14, 90);
        transition: all 0.5s ease;
    }

    .navbar1 .nav-links {
        position: absolute;
        display: block;
        text-align: center;
        width: 50%;
        background-color: rgb(9, 14, 90);
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 70px;
        right: 0px;
    }

    .navbar1 .nav-links a {
        display: block;
    }

    /* when nav toggle button not checked */
    .navbar1 .nav-links {
        height: 0px;
    }

    /* when nav toggle button is checked */
    .navbar1 .nav-links {
        height: calc(100vh - 70px);
        overflow-y: auto;
    }

    .navbar1 .nav-links {
        padding: 10px 40px;
        margin: 20px;
        font-size: 18px;
        font-weight: bold;
        color: white;
    }

    /* Responsive dropdown code */
    .navbar1 .nav-links .navbar {
        float: none;
        width: 100%;
    }

    .navbar1 .nav-links .navbar {
        position: relative;
        background-color: rgb(220, 220, 250);
        top: 0px;
        left: 0px;
    }

    /* Text color */
    .navbar1 .nav-links .drop-content a {
        color: rgb(9, 14, 90);
    }


}
.title {
    float: right;
}

/*Task List Page Styling*/
/* Variables */
:root {
    --primary: #04AA6D;
    --business: #d7e207;
    --personal: var(--primary);
    --light: #EEE;
    --grey: #888;
    --dark: green;
    --danger: #ff5b57;

    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    --business-glow: 0px 0px 4px rgba(238, 253, 103, 0.75);
    --personal-glow: 0px 0px 4px rgba(125, 250, 63, 0.903);
}

/* End of Variables */

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]),
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

/* End of Resets */

.taskBody {
    background: var(--light);
    color: var(--dark);
}

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

h3 {
    color: var(--dark);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

h4 {
    color: var(--grey);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.topic {
    font-size: 30px;
}

.greeting .title {
    display: flex;
}

.greeting .title input {
    margin-left: 0.5rem;
    flex: 1 1 0%;
    min-width: 0;
}

.greeting .title,
.greeting .title input {
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 700;
}

.create-todo input[type="text"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--dark);
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
}

.create-todo .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
}

.create-todo .options label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    padding: 1.5rem;
    box-shadow: var(--shadow);
    border-radius: 0.5rem;
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 999px;
    border: 2px solid var(--business);
    box-shadow: var(--business-glow);
}

.bubble.personal {
    border-color: var(--personal);
    box-shadow: var(--personal-glow);
}

.bubble::after {
    content: '';
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: var(--business);
    box-shadow: var(--business-glow);
    border-radius: 999px;
    transition: 0.2s ease-in-out;
}

.bubble.personal::after {
    background-color: var(--personal);
    box-shadow: var(--personal-glow);
}

input:checked~.bubble::after {
    width: 10px;
    height: 10px;
    opacity: 1;
}

.create-todo .options label div {
    color: var(--dark);
    font-size: 1.125rem;
    margin-top: 1rem;
}

.create-todo input[type="submit"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--primary);
    box-shadow: var(--personal-glow);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s ease-out;
}

/*The Chat App Style*/
.chathome {
    border: 3px solid green;
    float: center;
    position: fixed;
    width: 40%;
    height: 500px;
    margin-left: 400px;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    padding-top: 25px;
    background-color: rgba(221, 221, 221, 0.858);
}
/*Add HTML*/
.chathome1 {
    border: 3px solid green;
    float: left;
   color: #04AA6D;
    width: 40%;
    height: auto;
    margin-left: 400px;

    padding: 20px;
    text-align: left;
    font-size: 20px;
    padding-top: 25px;
    background-color: rgba(221, 221, 221, 0.858);
}


.chathome1  input[type="text"] {
    display: block;
    width: 90%;
    float:left;
    font-size: 1.125rem;
    padding: 10px 24px;
    color: var(--dark);
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);

    margin-top: 20px;
    margin-bottom: 1.5rem;
}
.chathome1  input[type="url"] {
    display: block;
    width: 90%;
    float:left;
    font-size: 1.125rem;
    padding: 8px 24px;
    color: var(--dark);
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);

    margin-top: 20px;
    margin-bottom: 1.5rem;
}

.chathome1 button[type="submit"] {
    display: block;
    width: 40%;
    font-size: 1.125rem;
    padding: 8px 24px;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--primary);
    box-shadow: var(--personal-glow);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s ease-out;
    margin-top: 10px;
    margin-left: 30%;
}

.chathome1 button[type="submit"]:hover {
    opacity: 0.75;
}

/*Note Page*/
.notehome {
    border: 3px solid rgb(171, 151, 4);
    float: center;
    width: 50%;
    height: 100%;
    overflow: auto;
    margin-left: 400px;
    margin-top: 100px;
    padding: 50px;
    font-size: 20px;
    padding-top: 25px;
    background-color: rgba(241, 241, 241, 0.858);

}

.notehome1 {

    float: center;
    width: 90%;
    height: 100%;
    overflow: auto;
    margin-left:100px;
    margin-top: 100px;
    padding: 50px;
    text-align: center;
    padding-top: 25px;
    font-size:25px ;
    color:rgb(171, 151, 4);

}
.notehome2 {
    border: 3px solid rgb(171, 151, 4);
    float: center;
    width: 50%;
    height: 100%;
    overflow: auto;
    margin-left: 400px;
    margin-top: 200px;
    padding: 50px;
    font-size: 20px;
    padding-top: 25px;
    background-color: rgba(241, 241, 241, 0.858);
    text-align: center;

}

.center2 input[type="text"]
{
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 5px;
    background-color: #FFF;
    margin-bottom: 10%;


}

.center1 {
    margin-left: 5%;
    width: 15%;

}

.center2 {
   margin-top:10% ;
    margin-left: 5%;
    width: 15%;

}

.noteTitle
{
    font-size: 30px;
    color: green;

}
tr.noteTitle {
    text-align: center;
    font-size: 30px;
    border: 4px solid rgb(20, 19, 15);
    color: green;


}


td.notesdata {
    border-top: 4px solid rgb(171, 151, 4);
    font-size: 20px;

    border-spacing: 2px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

td {

    text-align: left;
    width: 100%;
    border-bottom: 2px solid rgb(171, 151, 4);
    padding: 20px;

}

th {
    padding: 40px;

    border-bottom: 4px solid rgb(171, 151, 4);

}

.link {
    color: #04AA6D;
}

.link1 {
    color: white;
    background-color: #04AA6D;
    text-align: center;
    padding: 11px 15px;
    display: inline-block;
    border-radius: 0.5rem;
}

.link1:hover {
    opacity: 0.50;
}

.link2 {
    color: white;
    background-color: #04AA6D;
    text-align: center;
    width: 100%;
    padding: 5px 11px;
    display: inline-block;
    border-radius: 0.5rem;
    font-size: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.link3 {
    color: white;
    background-color: #04AA6D;
    text-align: center;
    padding: 7px 10px;
    display: inline-block;
    border-radius: 0.5rem;

}

.link4 {
    color: white;
    background-color: #04AA6D;
    text-align: center;
    padding: 7px 10px;
    display: inline-block;
    border-radius: 0.5rem;
    margin-left:61%;
   margin-top: 5%;
}
.link5 {
    color: white;
    background-color: #04AA6D;
    text-align: center;
    padding: 7px 10px;
    display: inline-block;
    border-radius: 0.5rem;
    font-size: 15px;

}




.link2:hover {
    opacity: 0.50;
}


.delete input[type="submit"] {
    display: block;
    width: 100%;
    font-size: 20px;
    padding: 3px 5px;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    background-color: red;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s ease-out;
    margin-top: 10px;
    margin-left: 35%;


}
textarea {


    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 4px;

    font-size: 16px;

  }

.delete input[type="submit"]:hover {
    opacity: 0.50;
}

.edit input[type="submit"] {
    display: block;
    width: 100%;
    font-size: 20px;
    padding: 3px 5px;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #04AA6D;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s ease-out;
    margin-top: 10px;
    margin-left: 35%;


}

.edit input[type="submit"]:hover {
    opacity: 0.50;
}


.userid {
    padding-top: 10px;

}

.chathome input[type="text"] {
    display: block;
    width: 30%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--dark);
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-left: 35%;
    margin-top: 20px;
    margin-bottom: 1.5rem;
}

.chathome button[type="submit"] {
    display: block;
    width: 30%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--primary);
    box-shadow: var(--personal-glow);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s ease-out;
    margin-top: 10px;
    margin-left: 35%;
}

.chathome button[type="submit"]:hover {
    opacity: 0.75;
}

.mychat {
    padding-bottom: 50px;
    color: #04AA6D;
}
.mychat1 {

    padding-top: 10px;
    padding-bottom: 50px;
    color: #04AA6D;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*chat room style*/
.chatroom {
    padding: 20px;
    text-align: center;
    font-size: 20px;
    padding-bottom: 100px;
    height: auto;
    background-color: rgba(221, 221, 221, 0.858);
}

.chatroom input[type="text"] {
    display: block;

    width: 20%;
    font-size: 1.125rem;
    padding: 10px;
    color: var(--dark);
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-left: 40%;
    margin-top: 30%;

}

.chatroom button[type="submit"] {
    display: block;
    width: 10%;
    font-size: 1.125rem;
    padding: 10px;
    color: #FFF;
    font-weight: 100;
    text-transform: uppercase;
    background-color: var(--primary);
    box-shadow: var(--personal-glow);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s ease-out;
    margin-top: -2.7%;
    margin-left: 61%;

}

.chatroom button[type="submit"]:hover {
    opacity: 0.75;
}

.create-todo input[type="submit"]:hover {
    opacity: 0.75;
}

.todo-list .list {
    margin: 1rem 0;
}

.todo-list .todo-item {
    display: flex;
    align-items: center;
    background-color: #FFF;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
}

.todo-item label {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-item .todo-content {
    flex: 1 1 0%;
}

.todo-item .todo-content input {
    color: var(--dark);
    font-size: 1.125rem;
}

.todo-item .actions {
    display: flex;
    align-items: center;
}

.todo-item .actions button {
    display: block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: #FFF;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
    opacity: 0.75;
}

.todo-item .actions .edit {
    margin-right: 0.5rem;
    background-color: var(--primary);
}

.todo-item .actions .delete {
    background-color: var(--danger);
}

.todo-item.done .todo-content input {
    text-decoration: line-through;
    color: var(--grey);
}


/*Calendar*/
.container1 {
    margin-top: 10%;
    margin-left: 20%;
    width: 70%
}

.center {
    margin: auto;
    width: 75%;
    padding-left: 25%;
}

.greenishTextblackTextBox {
    color: #04AA6D;
    outline: 2px solid black;
}

.greenishText {
    color: #04AA6D;
}

.centertext {
    margin: auto;
    width: 50%;
}

.blackTextBox {
    color: #000000;
    outline: 2px solid black;
}

/*SearchBar Formatting  */
#searchbar {
    margin-left: 10%;
    padding: 10px;
    border-radius: 15px;
    outline: 2px solid black;
}

#searchbar input[type=text] {
    width: 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

/* When the input field gets focus,
      change its width to 100% */
#searchbar input[type=text]:focus {
    width: 70%;
}

#list {
    font-size: 1.5em;
    margin-left: 90px;
}

.animals {
    display: list-item;
    color: #04AA6D;
}

/*button to change color of search results to be visible after pressing search*/
.showResults {
    background-color: #ccc;
    color: #000000;
    border-color: #000000;


}

.showResults:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.coverWall {
    background-color: #ddd;
}

/* Progress Bar */

.progress {
    margin-top: 180px;
    margin-left: 460px;
    position: relative;
    width: 600px;
    height: 100px;
    background: #3aa36f;
    border-radius: 15px;
    overflow: hidden;
}

.progress__fill {
    width: 0%;
    height: 100%;
    background: #07743d;
    transition: all 0.2s;
}

.progress__text {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font: bold 30px 'Quicksand', san-serif;
    color: #ffffff;
}