/*  ***Remember to put the dot (.) before the name and give unique name***
*{
    padding: 0;
    margin: 0;
}

h1 {
    padding-top: 3%;
    padding-left: 10%;
}

table {
    padding-top: 4%;
    padding-left: 10%;
}

form {
    padding-top: 4%;
    padding-left: 10%;
}
*/


/*///////  TOP NAVIGATION BAR  ///////*/
.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(27, 25, 25);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* -- Hover Effects -- */
.navbar .nav-links a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

li a:hover {
    background-color: #504e4e;
    color: white;
}

.active {
    background-color: #04AA6D;
    color: white;
}
/*//////////////////////////////////////*/



/* - Responsive Navbar Toggle Button - */
.navbar #nav-check, .navbar .nav-btn {
    display: none;
}